.cm-loader {
	position: absolute;
    z-index: 10;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

[class^=MuiTableRow] {
	// color: blue;
	max-height: 100px;
	
}


[class^=MuiTableCell].db-table-cell {
	// color: blue;
	overflow-wrap: break-word;
	// overflow-wrap: normal;
	position: relative;
	min-width: 100px;
	padding: 15px;
	// color: red;
	// max-height: 200px;
	// overflow: hidden;

}

.dotted {
	color: blue;
	font-size: 20px;
}

.in-place-edit-icon {
	display: none !important;
	position: absolute;
	right: 0;
	bottom: 0;
	float: right;
	opacity: 0.5;
}

.expand-collapse-cell {
	display: inline;
	position: absolute;
	transform: rotate(0deg);
	font-size: 20px;
	font-weight: bold;

	opacity: 1;
	color: rgba(0, 0, 0, 0.5);
	left: 2px;
	top: 0;
}


// //Row
// td:hover::before { 
//     background-color: #eee;
//     content: '';  
//     height: 100%;
//     left: -5000px;
//     position: absolute;  
//     top: 0;
//     width: 10000px;   
//     z-index: -2;        
// }

// //Column
// td:hover::after { 
//     background-color: #ffa;
//     content: '';  
//     height: 10000px;    
//     left: 0;
//     position: absolute;  
//     top: -5000px;
//     width: 100%;
//     z-index: -1;        
// }
// .expand-collapse-cell.false:hover::after{
// 	content: "click to expand";
// 	min-width: fit-content;
// 	position: absolute;
// 	font-size: 10px;
// 	color: rgba(0, 0, 0, 0.5);
// 	border: 1px solid rgba(0, 0, 0, 0.3);
// 	border-radius: 4px;
// 	width: 80px;
// 	top: 15px;
// 	left: 2px;
// 	overflow: visible;

// }

// .expand-collapse-cell.true:hover::after{
// 	content: "";
// }

.expand-collapse-cell.true {
	display: inline-block;
	transform: rotate(90deg);
}

// .expand-collapse-cell::after {
// 	position: relative;
// 	content: "...";
// 	transform: rotate(-90deg);
// }

[class^=MuiTableCell]:hover .in-place-edit-icon {
	
	display: inline-block !important;

}

[class^=MuiTableCell]:hover {
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.header {
	display: flex;
	height: 30px;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
	margin-bottom: 10px;

}

.header-right {
	display: flex;
	align-items: center;
}

.add_div {
	justify-self: end;
	margin-right: 20px;
	padding: 5px;
	border-radius: 10px;
	width: max-content;
}

.add_icon {
	margin-right: 2px;
	max-height: 15px;
}

.table-heading {
	text-align: left;
}


// .asc {
// 	// background-color: red;
// 	display: inline-block;
// }

// .asc::after, desc::after {
// 	content: "";
// 	background-image: url("../assets/down_arrow.png");

// width: 30px;
// height: 30px;
// background-color: red;
// top: 10px;
// right: 5px;
// position: absolute;
// display: inline-block;
// }


// .search_input:focus
// {
// 	background-color: greenyellow;

// }

.add_div {
	background-color: #1a73e8;
	height: 30px;
	// width: ;
	color: white;
	font: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 500;
    line-height: 1.75;
    font-size: 12px;
	display: flex;
	align-items: center;
}

.search_input {
	// background-color: lightblue;
	width: 220px;
	margin-right: -40px;
	padding-left: 10px;
	height: 30px;
}

.search-div {
	display: flex;
	align-items:center;
	margin-right: 20px;
	height: auto;
}

.date {
	color: mediumblue;
}

// tr:nth-child(even) {background: lightblue}

table {
	// border: 2px ridge #burlywood;
	// border-style: ridge;
}

thead {
	// background: blue;
	color: black;
	height: 30px;
}

th {
	// color: white !important;
	font-weight: bolder;
}

th, tr, td {
	// border: 2px solid burlywood !important;
}

.column_head {
	display: flex;
}

.icons_cell {
	width: fit-content;
}


span.custom.status.MAPPED {

}



.custom.status span {

}

.number.is_active span {
	display: none;
}

.custom.status::before {
	content: "";
	margin: auto;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	color: blue;
	background-color: red;
	display: block;
}

.custom.status.MAPPED::before {
	
	background-color: green;
}

.custom.status.INIT::before {
	
	background-color: yellow;
}

.number.is_active {
    background-image: url(../../public/on_button.png);
    background-position: 0px 3px;
    width: 50px;
    display: inline-block;
    height: 50px;
    margin-left: 0px;
    background-size: cover;
    background-repeat: no-repeat
}

.number.is_active.\30 {
    background-image: url(../../public/off_button.jpeg);
    background-position: 0;
    width: 40px;
    height: 40px;
}
